In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
adult = pd.read_csv('/home/raghav/Desktop/introduction to machine learning/adults.csv')
adult.head()

,age,workclass,fnwlgt,education,education num,Marital status,occupation,relationship,race,sex,capital gain,capital loss,hours-per-week,native-country,income
0,17,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,39,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,50,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,38,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,53,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
X = adult.iloc[:,[0,4,10,11,12]]
y = adult.iloc[:,12]

In [5]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

/home/raghav/.local/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [7]:
from sklearn.linear_model import Perceptron
ppn = Perceptron(random_state=0,eta0=1,n_iter=100)
ppn.fit(X_train_std,y_train)
y_pred = ppn.predict(X_test_std)
print ('missclassified points number - %d' %(y_test != y_pred).sum())

/home/raghav/.local/lib/python3.5/site-packages/sklearn/linear_model/stochastic_gradient.py:73: DeprecationWarning: n_iter parameter is deprecated in 0.19 and will be removed in 0.21. Use max_iter and tol instead.
  DeprecationWarning)

missclassified points number - 895

In [8]:
from sklearn.metrics import accuracy_score
print('accuracy will be %.2f' %accuracy_score(y_pred,y_test))

accuracy will be 0.40